.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f0f0;
  padding: 2rem;
}

.main__title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 3rem;
  animation: textPulse 2s infinite;
  text-align: center;
}

@keyframes textPulse {
  0%, 100% { 
    transform: scale(1);
    opacity: 0.8;
  }
  50% { 
    transform: scale(1.05);
    opacity: 1;
  }
}

/* Мобильная адаптация */
@media (max-width: 768px) {
  .main__title {
    font-size: 1.5rem;
  }
}

.main__image {
  max-width: 100%;
  max-height: 400px;
  display: block;
    object-fit: cover;
  object-position: center;

  @media (max-width: 768px) {
    width: 90%;
    max-width: 400px;
  }
}